/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Inconsolata', monospace;*/

@font-face{
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
    font-family: Ubuntu-Light;
}
/*common css*/
body{
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: Playfair Display;
    font-weight: 400;
}
/*common css*/

/*header section start*/
header {
     /*border: 1px solid; */
    margin: 60px 0;
}
.wrapper{
    overflow: hidden;
    width: 90%;
    /*border: 1px solid red;*/
    margin: 0 auto;
}

.logo{
    width: 10%;
    /*border: 1px solid blue;*/
    float: left;
    padding-bottom: 1px;

}
.logo img{
    width: 100%;
    float: left;
    padding: 12px 0;

}
.menu {
    width: 75%;
    /*border: 1px solid blue;*/
    float: right;
    padding: 1px 0;
}
.menu ul{
    float: right;
    padding: 0;
}
.menu ul li{
    list-style: none;
    float: left;
    margin-right: 150px;


}
.menu ul li a{
    border-bottom: 2px solid black transparent;
    padding-bottom: 3px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}
.menu ul li a:hover{
    /*color: #000000;*/
    border-bottom: 2px solid black;
}
.menu ul li:last-child {
    margin: 0;
}
/*header section end*/

/*banner section start*/
.banner{}
.banner_img{
    /*width: 100%;*/
}
.banner_img img{
    width: 100%; 
}

/*banner section end*/

/*perfect secton start*/
.perfect{
    padding: 70px 0;
    /*border: 1px solid;*/
}
.wrapper2{
    overflow: hidden;
    margin: 0 auto;
    width: 80%; 
    /*border: 1px solid red;*/
}
.content{
}
.c_light{
    margin: 0;
    font-family: Ubuntu-Light;
    font-size: ;
    text-transform: uppercase;
    color: #b4ad9e;
}
.c_h1{
    margin: 25px 0 30px;
    font-family: Playfair Display;
    font-size: 35px;
    font-weight: 300;
}
.c_text{
    margin: 0;
    line-height: 25px;
}
.mb_45 {
   margin-bottom: 45px;
}
/*perfect section end*/

/*blog section start*/
.blog{
    padding: 70px 0;
}
.blog_content{
    border: ;
}

.s_blog{
    width: 47%;
    margin-bottom: 80px;
    /*border: 1px solid lightblue;*/
    float: left;
}
.s_blog:nth-child(even){
    margin-left: 6%;
}
.blog_img{
    margin-bottom: 25px;
}
.blog_img img{
    width: 100%;
    /*transition: 0.5s;*/
}
.blog_img img:hover{
    /*transform: scale(0.9);*/
}
/*blog section end*/


/*newsletter start*/
.newslatter{
    background-color: #F0F0F0;
    padding: 70px 0;
}
.wrapper2{
    /*border: 1px solid;*/
}
.sign_up{
    text-align: center;


}
.s_h1{
    margin-top: 0;
    margin-bottom: 70px;
}
.s_form{
    position: relative;
    /*border: 3px solid red;*/
    width: 400px;
    margin: 0 auto;
    
}
.s_form input{
    font-family: Playfair Display;
    font-size: 14px;
    width: 345px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    padding-left: 5px;
    padding-right: 45px;


}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}
.s_form button:focus{
    outline: 0;
}
/*newsletter end*/

/*load more start*/

.load_btn{
    text-align: center;

}
.load_btn button {
    margin: 130px 0;
    width: 160px;
    height: 60px;
    border-radius: 0;
    border: 1px solid #626262;
    font-size: 20px;
    font-family: playfair display;
    background: transparent;
    color: #626262;
    transition: .3s;
}
.load_btn button:hover{
    background-color: #626262;
    color: white;
}
/*load more end*/

/*footer start*/
.footer{
    background-color: #f0f0f0;
    padding: 20px 0;
}
.ft_content{}
.ft_terms{
    float: left;
}
.ft_terms ul{

}
.ft_terms ul li{
    list-style: none;
    display: inline-block;
}
.ft_terms ul li a{
    color: black;
    text-decoration: none;
    margin-right: 20px;

}

.ft_socile{
    float: right;
}
.ft_socile ul{}
.ft_socile ul li{
    display: inline-block;
    list-style: none;
}
.ft_socile ul li span{
    color: black;
    margin-right: 20px;
}
.ft_socile ul li a{
    margin-right: 20px;
}


/*footer end*/
